html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 1rem;
font-family: "Spartan";
vertical-align: baseline;
list-style-type: none;
text-decoration: none;
-webkit-box-sizing: border-box;
box-sizing: border-box;
--main-text: #550a46;
--secondary-text: #4a69bb;
--light-text: #b9cced;
--main-bg: #413c69;
}

body{
    background-color: rgb(2, 2, 24);
     overflow-x: hidden;
}

#main-page{
    padding: 1.5rem 2rem;
    overflow-x: hidden;
    height: 90rem;

    #landing-page{
        h1{
            color: white;
            font-size: 150%;
            text-align: end;
            margin-right: 5rem;
        }

        h2{
            font-size: 250%;
            color: white;
            text-transform: lowercase;
            font-weight: 900;
            position: absolute;
            transform: translate(18%, 28rem);
            z-index: 10;
        }
        nav{
            height: 100vh;
            position: fixed;
            z-index: 10;
            transform: translateY(4rem);
            padding-left: 2rem;
            

            h3{
                color: white;
                transform: rotate(-90deg);
                position: absolute;
                left: -3rem;
                top: 2.3rem;
                line-height: 1.4rem;
                text-align: end;
                font-size: 100%;
                
            }
            
            ul{
                border-left: .02rem solid white;
                padding-left: .3rem;
                li{
                    margin-bottom: .1rem;
                    a{
                        color: var(--light-text);
                        margin-left: .2rem;
                        transition: margin-left .3s ease-in;
                        font-size: 70%;
                        line-height: 1.5rem;

                        &:hover{
                            margin-left: .8rem;
                        }
                    }
                }
                
            }
        }

        .empanada-img-main{
            img:nth-of-type(1){
                width: 20rem;
                position: absolute;
                z-index: 0;
                transform: translate(8rem, 5rem);
            }

            .img-empanada{
                width: 10rem;
                position: absolute;
                z-index: 1;
            }

            img:nth-of-type(2){
                transform: translate(7.4rem, 27rem);
            }

            img:nth-of-type(3){
                transform: translate(7.4rem, 20rem);
            }

            img:nth-of-type(4){
                transform: translate(7.2rem, 8.2rem);
            }

            img:nth-of-type(5){
                transform: translate(10.7rem, 4.5rem);
            }

            img:nth-of-type(6){
                transform: translate(18.8rem, 5rem);
            }

            img:nth-of-type(7){
                transform: translate(18.8rem, 13rem);
            }

            img:nth-of-type(8){
                transform: translate(18.8rem, 20.5rem);
            }

            img:nth-of-type(9){
                transform: translate(18.8rem, 27rem);
            }

            img:nth-of-type(10){
                transform: translate(12rem, 9.2rem);
            }
        }

        .info-empanadas{
            width: 75%;
            padding: 6rem 1rem 2rem 1rem;
            background-color: var(--secondary-text);
            height: 48rem;
            text-align: end;
            line-height: 1.5rem;
            letter-spacing: .1rem;
            color: white;
            transform: translate(6rem, 34.5rem);
            z-index: 30;
        }

    }
}

@media screen and (min-width: 500px){
    #main-page{
    padding: 1.5rem 2.5rem;
    overflow-x: hidden;
    height: 90rem;

    #landing-page{

            h1{
                margin-right: 10rem;
            }
            h2{
                width: 13rem;
                text-align: end;
                transform: translate(5.5rem, 29rem);
                font-size: 300%;
                letter-spacing: .2rem;
            }
            nav{               
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem;                    
                }
            }

            .empanada-img-main{
                transform: translate(2.9rem);

                
            }

            .info-empanadas{
                width: 60%;
                height: 35rem;
                transform: translate(9rem, 34.5rem);
            }

        }
    }   
}


@media screen and (min-width: 700px){
    #main-page{
        padding: 1.5rem 2.5rem;
        overflow-x: hidden;
        height: 90rem;

        #landing-page{
            h1{
                margin-right: 10rem;
            }
            h2{
                width: 13rem;
                text-align: end;
                transform: translate(5.5rem, 21rem);
                font-size: 3.5rem;
                letter-spacing: .2rem;
            }
            nav{  
                transform: translate(.5rem);             
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem; 
                    
                    li a{
                        font-size: 50%;
                        line-height: 1rem;
                    }
                }
            }

            .empanada-img-main{
                transform: translate(10%, -3rem);
                            
                img:nth-of-type(1){
                    width: 23rem;
                    position: absolute;
                    z-index: 0;
                    transform: translate(8rem, 5rem);
                }

                .img-empanada{
                width: 12rem;
                position: absolute;
                z-index: 1;
                }

                img:nth-of-type(2){
                transform: translate(7.4rem, 30rem);
                }

                img:nth-of-type(3){
                    transform: translate(7.4rem, 21.9rem);
                }

                img:nth-of-type(4){
                    transform: translate(6.5rem, 9.2rem);
                }

                img:nth-of-type(5){
                    transform: translate(10.7rem, 4.5rem);
                }

                img:nth-of-type(6){
                    transform: translate(20rem, 5.5rem);
                }

                img:nth-of-type(7){
                    transform: translate(21rem, 15rem);
                }

                img:nth-of-type(8){
                    transform: translate(19.5rem, 23rem);
                }

                img:nth-of-type(9){
                    transform: translate(18.8rem, 30rem);
                }

                img:nth-of-type(10){
                    transform: translate(13rem, 9.2rem);
                }
            }

            .info-empanadas{
                width: 35%;
                height: 50%;
                transform: translate(130%, 27rem);
                padding: 3rem 2rem 1rem 2rem;
            }
        }
    }   
}

@media screen and (min-width: 1000px){
    #main-page{
        padding: 1.5rem 2.5rem;
        height: 90rem;

        #landing-page{
            h1{
                margin-right: 50rem;
            }
            h2{
                width: 13rem;
                transform: translate(15rem, 28rem);
                font-size: 5rem;
                letter-spacing: .2rem;
            }
            nav{  
                transform: translate(1rem, 11rem);             
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem; 
                    
                    li a{
                        font-size: 70%;
                        line-height: 1.5rem;
                    }
                }
            }

            .empanada-img-main{
                transform: translate(20%, -5rem);
                            
                img:nth-of-type(1){
                    width: 35rem;
                    position: absolute;
                    z-index: 0;
                    transform: translate(8rem, 5rem);
                }

                .img-empanada{
                width: 17rem;
                position: absolute;
                z-index: 1;
                }

                img:nth-of-type(2){
                transform: translate(7.4rem, 43.5rem);
                }

                img:nth-of-type(3){
                    transform: translate(7.4rem, 31rem);
                }

                img:nth-of-type(4){
                    transform: translate(6rem, 12rem);
                }

                img:nth-of-type(5){
                    transform: translate(12.7rem, 5.5rem);
                }

                img:nth-of-type(6){
                    transform: translate(27rem, 5.5rem);
                }

                img:nth-of-type(7){
                    transform: translate(27.5rem, 19.5rem);
                }

                img:nth-of-type(8){
                    transform: translate(26.5rem, 33rem);
                }

                img:nth-of-type(9){
                    transform: translate(25rem, 43rem);
                }

                img:nth-of-type(10){
                    transform: translate(17rem, 12rem);
                }
            }

            .info-empanadas{
                width: 40%;
                height: 50%;
                line-height: 2rem;
                transform: translate(130%, 40rem);
                padding: 3rem 3rem 2rem 3rem;
            }
        }
    }   
}