html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, big, em, img, s, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 1rem;
font-family: "Spartan";
vertical-align: baseline;
list-style-type: none;
text-decoration: none;
-webkit-box-sizing: border-box;
box-sizing: border-box;
--main-text: #550a46;
--secondary-text: #4a69bb;
--light-text: #b9cced;
--main-bg: #413c69;
}

body{
    background-color: rgb(2, 2, 24);
     overflow-x: hidden;
}

#main-page{
    padding: 1.5rem 2rem;
    overflow-x: hidden;
    height: 90rem;

    #landing-page{
        h1{
            color: white;
            font-size: 150%;
            text-align: end;
            margin-right: 5rem;
        }

        h2{
            font-size: 250%;
            color: white;
            text-transform: lowercase;
            font-weight: 900;
            position: absolute;
            transform: translate(18%, 28rem);
            z-index: 10;
        }
        nav{
            height: 100vh;
            position: fixed;
            z-index: 10;
            transform: translateY(4rem);
            padding-left: 2rem;
            

            h3{
                color: white;
                transform: rotate(-90deg);
                position: absolute;
                left: -3rem;
                top: 2.3rem;
                line-height: 1.4rem;
                text-align: end;
                font-size: 100%;
                
            }
            
            ul{
                border-left: .02rem solid white;
                padding-left: .3rem;
                li{
                    margin-bottom: .1rem;
                    a{
                        color: var(--light-text);
                        margin-left: .2rem;
                        transition: margin-left .3s ease-in;
                        font-size: 70%;
                        line-height: 1.5rem;

                        &:hover{
                            margin-left: .8rem;
                        }
                    }
                }
                
            }
        }

        #scene{
            width: 100%;
            height: 100vh;
            position: absolute;

            img:nth-of-type(1){
                width: 20rem;
                z-index: 0;
                margin-left: 8rem;
                margin-top: 5rem;
            }

            .img-empanada{
                position: absolute;
                width: 10rem;
                z-index: 1;
            }

            img:nth-of-type(2){
                margin-left: 8rem;
                margin-top: 27rem;
            }

            img:nth-of-type(3){
                margin-left: 7.4rem;
                margin-top: 20rem;
            }

            img:nth-of-type(4){
                margin-left: 7.2rem;
                margin-top: 8.2rem;
            }

            img:nth-of-type(5){
                margin-left: 10.7rem;
                margin-top: 4.5rem;
            }

            img:nth-of-type(6){
                margin-left: 18.8rem;
                margin-top: 5rem;
            }

            img:nth-of-type(7){
                margin-left: 18.8rem;
                margin-top: 13rem;
            }

            img:nth-of-type(8){
                margin-left: 18.8rem;
                margin-top: 20.5rem;

            }

            img:nth-of-type(9){
                margin-left: 17.5rem;
                margin-top: 27rem;
            }

            img:nth-of-type(10){
                margin-left: 12rem;
                margin-top: 9.2rem;
            }
        }

        .info-empanadas{
            width: 75%;
            padding: 6rem 1rem 2rem 1rem;
            background-color: var(--secondary-text);
            height: 48rem;
            text-align: end;
            line-height: 1.5rem;
            letter-spacing: .1rem;
            color: white;
            transform: translate(6rem, 34.5rem);
            z-index: 30;
        }

    }
}

@media screen and (min-width: 500px){
    #main-page{
    padding: 1.5rem 2.5rem;
    overflow-x: hidden;
    height: 90rem;

    #landing-page{

            h1{
                margin-right: 10rem;
            }
            h2{
                width: 13rem;
                text-align: end;
                transform: translate(5.5rem, 29rem);
                font-size: 300%;
                letter-spacing: .2rem;
            }
            nav{               
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem;                    
                }
            }

            .empanada-img-main{
                transform: translate(2.9rem);

                
            }

            .info-empanadas{
                width: 60%;
                height: 35rem;
                transform: translate(9rem, 34.5rem);
            }

        }
    }   
}


@media screen and (min-width: 700px){
    #main-page{
        padding: 1.5rem 2.5rem;
        overflow-x: hidden;
        height: 90rem;

        #landing-page{
            h1{
                margin-right: 10rem;
            }
            h2{
                width: 13rem;
                text-align: end;
                transform: translate(5.5rem, 21rem);
                font-size: 3.5rem;
                letter-spacing: .2rem;
            }
            nav{  
                transform: translate(.5rem);             
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem; 
                    
                    li a{
                        font-size: 50%;
                        line-height: 1rem;
                    }
                }
            }

            #scene{
                margin-left: 10%;
                margin-top: -3rem;
                            
                img:nth-of-type(1){
                    width: 23rem;
                    position: absolute;
                    z-index: 0;
                    margin-left: 8rem;
                    margin-top: 5rem;
                }

                .img-empanada{
                width: 12rem;
                position: absolute;
                z-index: 1;
                }

                img:nth-of-type(2){
                    margin-left: 7.4rem;
                    margin-top: 30rem;
                }

                img:nth-of-type(3){
                    margin-left: 7.4rem;
                    margin-top: 21.9rem;        
                }

                img:nth-of-type(4){
                    margin-left: 6.5rem;
                    margin-top: 9.2rem;    
                }

                img:nth-of-type(5){
                    margin-left: 10.7rem;
                    margin-top: 4.5rem;
                }

                img:nth-of-type(6){
                    margin-left: 20rem;
                    margin-top: 5.5rem;
                }

                img:nth-of-type(7){
                    margin-left: 21rem;
                    margin-top: 15rem;
                }

                img:nth-of-type(8){
                    margin-left: 19.5rem;
                    margin-top: 23rem;
                }

                img:nth-of-type(9){
                    margin-left: 18.8rem;
                    margin-top: 30rem;
                }

                img:nth-of-type(10){
                    margin-left: 13rem;
                    margin-top: 9.2rem;
                }
            }

            .info-empanadas{
                width: 35%;
                height: 50%;
                transform: translate(130%, 27rem);
                padding: 3rem 2rem 1rem 2rem;
            }
        }
    }   
}

@media screen and (min-width: 1000px){
    #main-page{
        padding: 1.5rem 2.5rem;
        height: 90rem;

        #landing-page{
            h1{
                margin-right: 50rem;
            }
            h2{
                width: 13rem;
                transform: translate(15rem, 28rem);
                font-size: 5rem;
                letter-spacing: .2rem;
            }
            nav{  
                transform: translate(1rem, 11rem);             
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem; 
                    
                    li a{
                        font-size: 70%;
                        line-height: 1.5rem;
                    }
                }
            }

            #scene{
                margin-left: 20%;
                margin-top: -5rem;
                            
                img:nth-of-type(1){
                    width: 40rem;
                    position: absolute;
                    z-index: 0;
                    margin-left: 8rem;
                    margin-top: 5rem;
                }

                .img-empanada{
                    width: 19rem;
                    position: absolute;
                    z-index: 1;
                }

                img:nth-of-type(2){
                    margin-left: 7,4rem;
                    margin-top: 49rem;
                }

                img:nth-of-type(3){
                    margin-left: 7.4rem;
                    margin-top: 36rem;
                }

                img:nth-of-type(4){
                    margin-left: 6rem;
                    margin-top: 14rem;
                }

                img:nth-of-type(5){
                    margin-left: 13.5rem;
                    margin-top: 7rem;
                }

                img:nth-of-type(6){
                    margin-left: 29.9rem;
                    margin-top: 5.9rem;
                }

                img:nth-of-type(7){
                    margin-left: 32rem;
                    margin-top: 22rem;
                }

                img:nth-of-type(8){
                    margin-left: 29rem;
                    margin-top: 36rem;
                }

                img:nth-of-type(9){
                    margin-left: 27rem;
                    margin-top: 47rem;
                }

                img:nth-of-type(10){
                    margin-left: 18rem;
                    margin-top: 15rem;
                }
            }

            .info-empanadas{
                width: 40%;
                height: 50%;
                line-height: 2rem;
                transform: translate(130%, 40rem);
                padding: 3rem 3rem 2rem 3rem;
            }
        }
    }   
}

@media screen and (min-width: 1200px){
    #main-page{
        padding: 1.5rem 6rem;
        height: 90rem;

        #landing-page{
            h1{
                margin-right: 50rem;
            }
            h2{
                width: 13rem;
                transform: translate(15rem, 28rem);
                font-size: 7rem;
                font-weight: 600;
                letter-spacing: .2rem;
            }
            nav{  
                transform: translate(1rem, 11rem);             
                ul{
                    border-left: .02rem solid white;
                    padding-left: .8rem; 
                    
                    li a{
                        font-size: 70%;
                        line-height: 1.5rem;
                    }
                }
            }

            #scene{
                margin-left: 30%;
                margin-top: -5rem;
            }

            .info-empanadas{
                width: 40%;
                height: 50%;
                line-height: 2rem;
                transform: translate(130%, 40rem);
                padding: 6rem 3rem 2rem 3rem;
            }
        }
    }   
}

@media screen and (min-width: 1400px){
    #main-page{
        padding: 1.5rem 6rem;
        height: 90rem;

        #landing-page{
            h1{
                margin-right: 70rem;
            }
            h2{
                transform: translate(26rem, 26rem);
                font-size: 5.8rem;
                font-weight: 600;
                letter-spacing: .2rem;
            }

            #scene{
                margin-left: 40%;
                margin-top: -5rem;
            }

            .info-empanadas{
                width: 30%;
                height: 50%;
                line-height: 2rem;
                transform: translate(200%, 37rem);
                padding: 9rem 3rem 6rem 9rem;
            }
        }
    }   
}